#app {
  padding: 50px;
  text-align: center;
}

header {
  padding-top: 20px;
}

main {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

#left-section {
  flex-grow: 2;
  max-width: 800px;
  margin-right: 20px;
}

#right-section {
  flex-grow: 1;
  max-width: 600px;
}

#view-options {
  width: 100%;
  padding: 20px;
  background-color: hsl(0, 0%, 100%);
}

.option-group + .option-group {
  margin-top: 10px;
}

.option-label {
  margin-right: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#anime-gallery {
  background-color: hsl(0, 0%, 100%);
}


#list-gallery {
  background-color: hsl(0, 0%, 100%);
}

.anime-card {
  margin: 10px;
  width: 15rem;
}

.cart-anime-card {
  font-size: 90%;
  margin: 10px;
  width: 12rem;
}